/* nota # þegar element er með id */
/* nota . þegar element er með class */

html {
  scroll-behavior: smooth;
  background-color: lightgreen;
}

header {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  background-color: rgb(206, 255, 180);
  padding: 16px;
}

a {
  color: black;
  background-color: lightgreen;
  padding: 12px;
  border-radius: 16px;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  background-color: azure;
}

img {
  height: 100px;
}

.ummig {
  padding: 50px;
  font-family: "Times New Roman", Times, serif;
}

.hobbies {
  background-color: rgb(206, 255, 180);
  margin: 16px;
  padding: 16px;
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  border: 2px dotted black;
}

#gallery {
  display: flex;
  gap: 20px;
  width: 80%;
  overflow: hidden;
  overflow-x: scroll;
}

#section-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px black solid;
  background-color: rgb(206, 255, 180);
  margin: 20px;
}

footer {
  background-color: rgb(206, 255, 180);
}

footer > p {
  color: green;
}

.topsection {
  display: flex;
}

#section-2 {
  display: flex;
  flex-direction: column;
  padding: 16px;
}
